{% extends 'awards/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 border-bottom mb-4">     
        <div class="card mb-3 profile "> 
                <div class="card-body profile">
                <div class="card-img">
                    <img src="{{user.profile.profile_photo.url}}" class="rounded-circle" alt="">a
                </div>
                <div class="card-info pl-2">
                    <div class="user-utils mt-2">
                        <h5 class="card-title">
                            {{user.username}}
                        </h5>
                        <a class="btn btn-sm btn-outline-secondary" data-toggle='modal' data-target='#profileModal'>Edit Profile</a>
                    </div>
                    <div class="user-info mt-2">
                    Posts:{{posts |length }}
                    </div>
                    <div class="user-details mt-2">
                    <ul class="list-unstyled">
                        <li> {{user.profile.bio}}</li>
                        <li></li>
                    </ul>
                    </div>

                    </div>
                </div>
                <!-- card-body -->
        
        </div>
    </div>

    <div class="col-md-2"></div>
    </div>
    <!-- row -->


        <div class="row user posts">

                <div class="col-md-2"></div>
              
                  

{% endblock content %}
